body {
    background-color: rgb(183, 107, 255);
}
.qz {
    width: 200px;
    margin-left: 20px;
    background-color: rgb(143, 22, 255);
    border-radius: 10px;
}
.q {
    font-size: 40px;
}
.qq {
    margin-top: -20px;
}
.qqq {
    margin-top: -10px;
}
.qqqq {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 30%;
}
.qzz {
    width: 200px;
    margin-left: 20px;
    background-color: rgb(143, 22, 255);
    border-radius: 10px;
    margin-top: -311px;
    margin-left: 250px;
}
.qw {
    font-size: 40px;
}
.qqw {
    margin-top: -20px;
}
.qqqw {
    margin-top: -10px;
}
.qqqqw {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 30%;
}
.qzzz {
    width: 200px;
    margin-left: 20px;
    background-color: rgb(143, 22, 255);
    border-radius: 10px;
    margin-top: -311px;
    margin-left: 500px;
}
.qww {
    font-size: 40px;
}
.qqww {
    margin-top: -20px;
}
.qqqww {
    margin-top: -10px;
}
.qqqqww {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 30%;
}
.qzzzx {
    width: 200px;
    margin-left: 20px;
    background-color: rgb(143, 22, 255);
    border-radius: 10px;
    margin-top: -311px;
    margin-left: 750px;
}
.qwwx {
    font-size: 40px;
}
.qqwwx {
    margin-top: -20px;
}
.qqqwwx {
    margin-top: -10px;
}
.qqqqwwx {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 30%;
}
.qzzzxx {
    width: 200px;
    margin-left: 20px;
    background-color: rgb(143, 22, 255);
    border-radius: 10px;
    margin-top: -311px;
    margin-left: 1000px;
}
.qwwxx {
    font-size: 40px;
}
.qqwwxx {
    margin-top: -20px;
}
.qqqwwxx {
    margin-top: -10px;
}
.qqqqwwxx {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 30%;
}